@import '../../utils/scss-variables/scss-variables';

.ShoppingSection {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 12px;
  background-color: $emerald-50;
  height: 100vh;
}