@import '../../../utils/scss-variables/scss-variables';

.Navbar {
  display: flex;
  align-items: center;
  background-color: $yellow-300;
  padding: 14px;
  height: 70px;
  width: 100%;
}

.TopNav {
  display: none;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    display: flex;
  }
}

.LeftDrawer {
  display: none;

  @media (max-width: 767px) {
    display: flex;
  }
}