@import '../../../utils/scss-variables/scss-variables';

.Navbar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $yellow-300;
  padding: 14px;
  height: 70px;
  width: 100%;
}

.TopNav {
  align-items: center;
  width: 100%;
}
