@import './utils/scss-variables/scss-variables';

// remove to component
.CardList {
  display: flex;
  position: absolute;
  top: 300px;
  left: 110px;
  min-width: 30%;
  gap: 14px;


  @media screen and #{$mobileBreak} {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(2, 120px);
    justify-content: center;
    align-items: center;
    top: 150px;
    left: 0;
    right: 0;
    gap: 10px;
  }
}

.MainBackground {
  position: relative;
  top: 16px;
  margin: 0 12px;
  height: 700px;
  border-radius: 8px;
  clip-path: ellipse(100% 100% at 50% 0%);
  // background: linear-gradient(90deg, #064C50, #064C50);
  background: linear-gradient(145deg, #064C50 68%, #09A89D);
  @media screen and #{$mobileBreak} {
    height: 80%;
    clip-path: ellipse(100% 60% at 50% 35%)
  }
}

.GroceryImage {
  align-self: flex-end;
  width: 50vh;
  height: 50vh;
  position: absolute;
  top: 170px;
  right: 20px;
  z-index: 1;
  /* ensures it's above the clipped bg */

  @media screen and #{$mobileBreak} {
    top: 420px;
    width: 20vh;
    height: 20vh;
  }
}